body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#add-goal-btn {
  display: block;
  margin: 0 auto;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button {
  display: block;
  margin: auto;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#add-goal-btn:hover {
  background-color: #3e8e41;
}

#goals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.goal {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.goal h2 {
  font-size: 1.2em;
  margin-top: 0;
}

.goal p {
  margin-top: 10px;
}

#goal-form-container {
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}

#goal-form-container h2 {
  font-size: 1.5em;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

button[type="submit"],
button[type="button"] {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #3e8e41;
}