* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* background-color:rgb(221, 238, 255); */
  }

  img {
    display: block;
    margin: 0 auto;
    justify-content: center;
  }

  h1,
  h2 {
    text-align: center;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
  }

  button {
    display: block;
    margin: 20px auto 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  /* .hidden {
    display: none;
  } */

  #risk-level {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
  }

  .low {
    color: green;
  }

  .moderate {
    color: orange;
  }

  .high {
    color: red;
  }

  #suggestions-str {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
  }

  #info-str {
    font: 16px;
    text-align: center;
    justify-content: center;
  }

  #suggestions {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  .back-button {
    display: block;
    margin: 20px auto 10px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .fa-solid {
    color: rgb(78, 112, 139);
  }
